.dd-button {
  margin: 0 3px;
  border: none;
  border-radius: 6px;
  background-color: var(--dd-default-color);
  box-sizing: border-box;
  cursor: pointer;
}
.dd-button:hover {
  background-color: var(--dd-default-hover-color);
}

.dd-button[btnType="primary"] {
  background-color: var(--dd-primary-color);
  color: #fff;
}
.dd-button[btnType="primary"]:hover {
  background-color: var(--dd-primary-hover-color);
}

.dd-button[btnType="success"] {
  background-color: var(--dd-success-color);
  color: #fff;
}
.dd-button[btnType="success"]:hover {
  background-color: var(--dd-success-hover-color);
}

.dd-button[btnType="danger"] {
  background-color: var(--dd-danger-color);
  color: #fff;
}
.dd-button[btnType="danger"]:hover {
  background-color: var(--dd-danger-hover-color);
}

.dd-button[btnType="warning"] {
  background-color: var(--dd-warning-color);
  color: #fff;
}
.dd-button[btnType="warning"]:hover {
  background-color: var(--dd-warning-hover-color);
}


.dd-button[size="default"] {
  height: 32px;
  padding: 0 14px;
  font-size: 14px;
}

.dd-button[size="small"] {
  height: 24px;
  padding: 0 12px;
  font-size: 12px;
}
.dd-button[size="large"] {
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
}

.dd-button[disabled] {
  background-color: #e5e5e5;
}
.dd-button[loading="true"] {
  filter: grayscale(60%);
  cursor: not-allowed;
}

.dd-button[disabled]:hover {
  background-color: #e5e5e5;
  cursor: not-allowed;
}