.dd-space {
  display: flex !important;
}
.dd-space[direction="vertical"] {
  flex-direction: column;
}
.dd-space[align="start"] {
  align-items: flex-start;
  justify-content: flex-start;
}
.dd-space[align="center"] {
  align-items: center;
  justify-content: center;
}
.dd-space[align="end"] {
  align-items: flex-end;
  justify-content: flex-end;
}
.dd-space[align="baseline"] {
  align-items: baseline;
}
.dd-space[direction="horizontal"] {
  flex-direction: row;
  justify-content: baseline;
}

// .dd-space[align="start"] {
//   justify-content: flex-start;
// }
// .dd-space[align="center"] {
//   justify-content: center;
// }
// .dd-space[align="end"] {
//   justify-content: flex-end;
// }
// .dd-space[align="baseline"] {
//   justify-content: baseline;
// }