@font-face {
  font-family: "iconfont"; /* Project id 4314724 */
  src: url('./iconfont.woff2?t=1699256813155') format('woff2'),
       url('./iconfont.woff?t=1699256813155') format('woff'),
       url('./iconfont.ttf?t=1699256813155') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cuowu:before {
  content: "\e6c2";
}

.icon-tishi_:before {
  content: "\e656";
}

.icon-jinggao:before {
  content: "\e616";
}

.icon-chenggong:before {
  content: "\e615";
}

.icon-guanbi_o:before {
  content: "\eb76";
}

.icon-yanjing-kai:before {
  content: "\e6f9";
}

.icon-yanjing-guan:before {
  content: "\e6fb";
}

.icon-shangla:before {
  content: "\e65d";
}

.icon-xiala:before {
  content: "\e64c";
}

