.dd-select {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #DCDCDC;
  border-radius: 4px;
  .dd-select-wrap {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 2px;
    box-sizing: border-box;
    .dd-select-inner {
      flex: 1;
      max-width: 100%;
      min-width: 0;
      height: 100%;
      box-sizing: border-box;
      border: none !important;
    }
  }
  .dd-tips {
    position: absolute;
    transform: translate(0, 100%);
    bottom: -2px;
    left: 0;
    font-size: 14px;
  }
}
.dd-select[size="small"] {
  height: 24px;
  .dd-select-inner {
    font-size: 14px;
  }
}
.dd-select[size="medium"] {
  height: 32px;
  .dd-select-inner {
    font-size: 16px;
  }
}
.dd-select[size="large"] {
  height: 40px;
  .dd-select-inner {
    font-size: 17px;
  }
}

.dd-select[status="success"] {
  border: 2px solid var(--dd-success-base);
  .dd-tips {
    color: var(--dd-success-base);
  }
}
.dd-select[status="error"] {
  border: 2px solid var(--dd-danger-base);
  .dd-tips {
    color: var(--dd-danger-base);
  }
}
.dd-select[status="warning"] {
  border: 2px solid var(--dd-warning-base);
  .dd-tips {
    color: var(--dd-warning-base);
  }
}
.dd-select[disabled="true"] {
  color: #f2f2f2;
  cursor: not-allowed;
  border-color: #f2f2f2;
  .dd-select-wrap {
    background-color: #f2f2f2;
    cursor: not-allowed;
    .dd-select-inner {
      cursor: not-allowed;
    }
  }
}