.dd-input {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #DCDCDC;
  border-radius: 4px;
  .dd-input-wrap {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    // padding: 2px;
    box-sizing: border-box;
    .dd-input-inner {
      flex: 1;
      max-width: 100%;
      box-sizing: border-box;
      border: none !important;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: var(--dd-ignore-color);
      }
    }
    .dd-input-suffix, .dd-input-prefix {
      height: 100%;
      padding: 0 4px;
      color: var(--dd-ignore-color);
    }
  }
  .dd-tips {
    position: absolute;
    transform: translate(0, 100%);
    bottom: -2px;
    left: 0;
    font-size: 14px;
  }
}
.dd-inputfocus {
 border: 1px solid var(--d-brand-focus); 
 box-shadow: var(--dd-box-shadow-base);
}
.dd-input[size="small"] {
  min-height: var(--dd-height-small);
  .dd-input-inner {
    min-height: var(--dd-height-small);
    font-size: 14px;
  }
}
.dd-input[size="medium"] {
  min-height: var(--dd-height-medium);
  .dd-input-inner {
    height: var(--dd-height-medium);
    font-size: 16px;
  }
}
.dd-input[size="large"] {
  min-height: var(--dd-height-large);
  .dd-input-inner {
    min-height: var(--dd-height-large);
    font-size: 17px;
  }
}

.dd-input[status="success"] {
  border: 2px solid var(--dd-success-base);
  .dd-tips {
    color: var(--dd-success-base);
  }
}
.dd-input[status="error"] {
  border: 2px solid var(--dd-danger-base);
  .dd-tips {
    color: var(--dd-danger-base);
  }
}
.dd-input[status="warning"] {
  border: 2px solid var(--dd-warning-base);
  .dd-tips {
    color: var(--dd-warning-base);
  }
}
.dd-input[disabled="true"] {
  color: #f2f2f2;
  cursor: not-allowed;
  border-color: #f2f2f2;
  .dd-input-wrap {
    background-color: #f2f2f2;
    cursor: not-allowed;
    .dd-input-inner {
      cursor: not-allowed;
    }
  }
}